.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}

.App-link {
  color: #61dafb;
}
.select-container {
    max-width: 420px;
    padding: 18px 20px 18px 0;
    margin: 0 auto;
    margin-top: 40px; 
    position: relative;
    font-size: 24px;
    background: #eeeeee;
    border-bottom: 1px solid #cccccc;   
}

.next-button {
    opacity: 0.6;
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    background-color: #1890ff;
    border-color: #1890ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
